* {
    border: none;
    border-radius: 13px;
    font-family: "Dejavu", mono;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

.modules-left {
    background: #343434;
    border-radius: 13px;
    padding: 1px 8px;
    margin: 5px 4px 0px 4px;
    color: #ffffff;
}

.modules-center,
.modules-right {
    background: #232323;
    border-radius: 13px;
    padding: 1px 8px;
    margin: 5px 4px 0px 4px;
}

#workspaces button {
    padding: 0px 5px;
    background: transparent;
    color: #a89985;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: #504946;
    color: #ffffff;
    min-width: 34px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: #cc242d;
}

#workspaces button:nth-child(n+6) {
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#custom-appmenuicon {
    font-size: 23px;
    color: #ffffff;
    padding: 1px 20px 1px 0px;
}

#custom-spotify {
    color: #d7c7a4;
    padding: 1px 12px;
}

#custom-spotify:hover {
    color: #cc242d;
    transition: all 0.3s ease-in-out;
}

#pulseaudio {
    padding: 1px 6px 1px 12px;
    color: #ffffff;
}

#pulseaudio.muted {
    color: #cc242d;
}

#clock {
    padding: 1px 12px;
    font-weight: bold;
}

#tray {
    padding: 1px 8px;
}

#keyboard-state {
    padding: 1px 8px;
}

#keyboard-state label.locked {
    color: #cc242d;
}

#network {
    font-family: "Font Awesome 6 Free", "Font Awesome 5 Free", "Font Awesome 6 Brands", "Font Awesome 5 Brands", "Material Icons", Fira Mono, JetBrains Mono, monospace;
    font-weight: bold;
}

