@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    font-style: italic;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(30, 30, 30, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
    border-radius: 10px;
    background-color: alpha(@background,.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius: 10px;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4), 0 4px 12px rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
#entry:selected #text {
    color: @mauve;
}
#entry:drop(active) {
    background-color: @lavender !important;
}