if [[ -f ~/.cache/wal/sequences ]]; then
    cat ~/.cache/wal/sequences
else
    echo 'pywal color sequences not found!'
    return 1
fi

if [[ -f /etc/zshrc ]]; then
    source /etc/zshrc
elif [[ -f /etc/zsh/zshrc ]]; then
    source /etc/zsh/zshrc
fi

if [[ -d ~/.zshrc.d ]]; then
    for rc in ~/.zshrc.d/*; do
        if [[ -f "$rc" ]]; then
            source "$rc"
        fi
    done
fi
unset rc

alias ff='clear && fastfetch --config ~/.config/fastfetch/altconfig.jsonc'
alias smallfetch='clear && fastfetch --config ~/.config/fastfetch/smallfetch.jsonc'
alias altfetch='clear && fastfetch'
alias clock='tty-clock -c -C 7 -s -n -t'
alias pipes='pipes.sh -c 1 -r 0'
alias shell='nvim ~/.zshrc'
alias update='sudo nixos-rebuild switch --flake /etc/nixos#hyprland'
alias dott='~/.cargo/bin/dott-tui'
alias themeswitcher='~/.local/bin/themeswitcher.sh'

export MOZ_ENABLE_WAYLAND=1
export QT_QPA_PLATFORM=wayland
export XDG_SESSION_TYPE=wayland

eval "$(starship init zsh)"

setopt AUTO_CD           
setopt CORRECT                
setopt HIST_VERIFY            
setopt SHARE_HISTORY          
setopt APPEND_HISTORY         
setopt INC_APPEND_HISTORY     
setopt HIST_IGNORE_DUPS       
setopt HIST_REDUCE_BLANKS
setopt NO_BEEP               

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

autoload -Uz compinit
if [[ -n ~/.zcompdump(#qN.mh+24) ]]; then
    compinit
else
    compinit -C
fi

# Enable completion caching
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache
